<h1>Monster info</h1>
Food: {{playercontroller.food}}/{{playercontroller.maxfood}} | Next food in {{playercontroller.nextFoodSecs}}<br>
Stamina: {{playercontroller.stamina}}/{{playercontroller.maxstamina}} | Next stamina in {{playercontroller.nextStamSecs}}<br>
PvP Tokens Remaining: {{playercontroller.pvptokens}}/{{playercontroller.maxpvptokens}}<br>
<br>
{{monstercontroller.monster.name}} - Level {{monstercontroller.monster.level}}<br>
Exp: {{monstercontroller.monster.experience}}/{{monstercontroller.monster.expToNext}}<br>
Hunger: {{monstercontroller.monster.hunger}}
